main{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game{
    height: 75%;
}

.rulesbutton{
    border: 2px solid $header-outline;
    border-radius: 7px;
    background-color: hsl(237, 49%, 15%);
    color: white;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    padding: 0.7rem;
    width: 40%;
}