main{
    height: 67%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media{
      height: 85%;
      width: 95%;
    }
}

.game{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem 0 1rem 0;
    @include media{
      width: 70%;
      padding: 0 0 4rem 0;
    }

  &__start{
    margin: 25% 0 35% 0;
    padding: 0;
    background-image: url("../img/bg-pentagon.svg");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 50% calc(50% - 15px);
    @include distribute-on-circle(
          $nb-items: 5,
          $circle-size: 220px,
          $item-size: 6rem
        );
    @include media{
      margin: 10% 0 0 0;
      @include distribute-on-circle(
          $nb-items: 5,
          $circle-size: 380px,
          $item-size: 9rem
        );
    }
  }

  &>.choice>.game__button{
    height: 8rem;
    width: 8rem;
    @include media {
      height: 15rem;
      width: 15rem;
    }
  }

  &>.choice>.game__button>.game__buttonwhite{
    height: 6rem;
    width: 6rem;
    @include media {
      height: 12rem;
      width: 12rem;
    }
  }


  &__button{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 0 0 hsl(237, 49%, 15%),
                inset 0 -4px 0 0 rgba(0,0,0,0.2);
    @include media{
      height: 9rem;
      width: 9rem;
    }
  
  }

  &__buttonwhite{
    width: 4.5rem;
    height: 4.5rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 4px 0 0 rgba(0,0,0,0.2);
    @include media{
      height: 7rem;
      width: 7rem;
    }

    img{
      width: 43%;
    }
  }
}

.paper-color{
  background-image: linear-gradient(to bottom, $paper1, $paper2);
}

.rock-color{
  background-image: linear-gradient(to bottom, $rock1, $rock2);
}

.lizard-color{
  background-image: linear-gradient(to bottom, $lizard1, $lizard2);

  img{
    width: 55%;
  }
}

.spock-color{
  background-image: linear-gradient(to bottom, $spock1, $spock2);
}

.scissors-color{
  background-image: linear-gradient(to bottom, $scissors1, $scissors2);
}


/*choice*/
.choice{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media{
    flex-direction: column-reverse;
    width: 30%;
    margin: 0 2rem;
  }

  &__computer--calculating{
    border-radius: 50%;
    background-color: hsl(237, 49%, 15%);
    height: 8rem;
    width: 8rem;
    @include media {
      height: 15rem;
      width: 15rem;
    }
  }
}

/*result*/
.choice__player{
  order: 1;
}

.choice__computer{
  order: 2;
  @include media{
    order: 3;
  }
}

.result{
  display: none;
  text-align: center;
  order: 3;
  @include media{
    min-width: 10rem;
    order: 2;
    margin-top: 4.5rem;
  }
  
  h2{
    letter-spacing: 0.2rem;
    font-size: 3.25rem;
    margin: 0;
  }

  button{
    border-radius: 7px;
    background-color: white;
    color: $dark-text;
    letter-spacing: 0.2rem;
    padding: 0.7rem 2rem;
    width: 100%;
    margin: 1rem 0 3.5rem 0;
    @include media{
      margin: 1rem 0;
    }
  }
}

/*buttonstyle*/
.buttonstyle{
    border: 2px solid $header-outline;
    border-radius: 7px;
    background-color: hsl(237, 49%, 15%);
    color: white;
    letter-spacing: 0.2rem;
    padding: 0.7rem 2rem;
    @include media{
      align-self: flex-end;
    }
}

/* RESET */
.resetbutton{
  margin-bottom: 1rem;
}
