header{
    width: 100%;
    height: 15%;
    border: 2px solid $header-outline;
    border-radius: 7px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media{
        width: 50%;
        height: 18%;
    }

    img{
        height: 90%;
    }
}

.score{
    background-color: white;
    border-radius: 7px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.4rem 1.2rem;
    @include media{
        padding: 0.4rem 2.5rem;
    }

    h2{
        color: $score-text;
        font-size: 0.6rem;
        letter-spacing: 0.1rem; 
        margin: 0;
        @include media{
            font-size: 0.9rem;
        }
    }

    p{
        color: $dark-text;
        font-size: 2.5rem;
        margin: -0.2rem;
        font-weight: 700;
        @include media{
            font-size: 3.3rem;
        }
    }
}