header{
    height: 10%;
    border: 2px solid $header-outline;
    border-radius: 7px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
        height: 90%;
    }
}

.score{
    background-color: white;
    border-radius: 7px;
    width: 6rem;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2{
        color: $score-text;
        font-size: 0.7rem;
        letter-spacing: 0.1rem; 
        margin: 0.3rem 0 0 0;
    }

    p{
        color: $dark-text;
        font-size: 3rem;
        margin: 0;
    }
}